@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.navbar__list {
  display: flex;
  gap: 30px;
}

.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  padding-bottom: 6px;
}

.basket:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3019607843);
  cursor: pointer;
}

.navbar__link {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
}

.navbar__link:hover {
  color: #a25f4b;
  cursor: pointer;
}

.hero {
  text-align: center;
  color: #ffffff;
  padding-top: 159px;
  padding-bottom: 154px;
  background-color: #050827;
  background-image: url("../img/site-header-bg-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__best-place-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero__title {
  font-family: "Karla";
  font-size: 47px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 10px;
}

.hero__the-most-text {
  font-family: "Karla";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.hero__explore-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
  width: 231px;
  margin: 0 auto;
  background-color: #ffffff;
}

.even-the-section {
  text-align: center;
  padding-top: 123px;
}

.even__the-title {
  font-family: "Karla";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: #1d1f2e;
  width: 578px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.even__it-is-text {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 658px;
  margin: 0 auto;
  color: rgba(29, 31, 46, 0.6980392157);
  margin-bottom: 21px;
}

.even-link {
  font-family: "Karla";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 auto;
  color: #a25f4b;
  padding-bottom: 3px;
}

.even-link:hover {
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

.even__featured-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
  margin-top: 98px;
  margin-bottom: 100px;
}

.even__card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.even__card-text {
  font-family: "Karla";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 35px;
}

.even__card-sum {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.6980392157);
}

.even__card-brovn {
  font-family: "Karla";
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #a25f4b;
}

.shopping {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.shopping__card {
  text-align: center;
}

.shopping__title {
  font-family: "Karla";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #1d1f2e;
}

.shopping__sum {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.4);
}

.shopping__sum-b {
  font-family: "Karla";
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: #a25f4b;
}

.premium__card-img {
  display: flex;
  width: 470px;
  gap: 20px;
}

.premium__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.premium__card-right {
  padding-left: 60px;
}

.premium {
  margin-bottom: 130px;
}

.premium__img-mr {
  margin-top: 15.8px;
}

.premium__offer-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
  margin-bottom: 14px;
}

.premium__right-title {
  font-family: "Karla";
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: #1d1f2e;
  margin-bottom: 15px;
}

.premium__card-description {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.6980392157);
  margin-bottom: 25px;
}

.btn {
  background-color: #1d1f2e;
  color: #ffffff;
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  padding: 9px 24px 9px 24px;
}

.bg {
  text-align: center;
  margin-bottom: 100px;
}

.stories__card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.stories__card-title {
  font-family: "Karla";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #1d1f2e;
  margin-bottom: 14px;
  margin-top: 24px;
}

.stories__description {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.6980392157);
}

.stories__date {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  margin-top: 16px;
  color: #1d1f2e;
}

.stories__card-box {
  width: 300px;
}

.updates-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 15px;
}

.updates__title {
  font-family: "Karla";
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 25px;
  color: #ffffff;
}

.updates {
  margin-top: 152px;
  padding: 80px;
  background-color: #1d1f2e;
}

.updates__wrapper {
  text-align: center;
}

.updates__inp {
  padding: 18px 40px;
  border: 1px #2f303e solid;
  background-color: #1d1f2e;
}

.updates__btn {
  padding: 15.7px 25px;
  font-family: "Karla";
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */