* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}
@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}

// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.navbar__list {
  display: flex;
  gap: 30px;
}
.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  padding-bottom: 6px;
}
.basket:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #a25f4b4d;
  cursor: pointer;
}
.navbar__link {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
}
.navbar__link:hover {
  color: #a25f4b;
  cursor: pointer;
}

// HERO-SECTION

.hero {
  text-align: center;
  color: #ffffff;
  padding-top: 159px;
  padding-bottom: 154px;
  background-color: #050827;
  background-image: url("../img/site-header-bg-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero__best-place-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.hero__title {
  font-family: "Karla";
  font-size: 47px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 10px;
}
.hero__the-most-text {
  font-family: "Karla";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.hero__explore-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
  width: 231px;
  margin: 0 auto;
  background-color: #ffffff;
}

// EVEN the SEction

.even-the-section {
  text-align: center;
  padding-top: 123px;
}
.even__the-title {
  font-family: "Karla";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: #1d1f2e;
  width: 578px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.even__it-is-text {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 658px;
  margin: 0 auto;
  color: #1d1f2eb2;
  margin-bottom: 21px;
}
.even-link {
  font-family: "Karla";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 auto;
  color: #a25f4b;
  padding-bottom: 3px;
}
.even-link:hover {
  border-bottom: 2px solid #a25f4b33;
}
.even__featured-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
  margin-top: 98px;
  margin-bottom: 100px;
}
.even__card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.even__card-text {
  font-family: "Karla";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 35px;
}
.even__card-sum {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #1d1f2eb2;
}
.even__card-brovn {
  font-family: "Karla";
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #a25f4b;
}
