.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.navbar__list {
  display: flex;
  gap: 30px;
}
.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  padding-bottom: 6px;
}
.basket:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #a25f4b4d;
  cursor: pointer;
}
.navbar__link {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
}
.navbar__link:hover {
  color: #a25f4b;
  cursor: pointer;
}
