.hero {
  text-align: center;
  color: #ffffff;
  padding-top: 159px;
  padding-bottom: 154px;
  background-color: #050827;
  background-image: url("../img/site-header-bg-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero__best-place-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.hero__title {
  font-family: "Karla";
  font-size: 47px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 10px;
}
.hero__the-most-text {
  font-family: "Karla";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.hero__explore-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #1d1f2e;
  letter-spacing: 2px;
  width: 231px;
  margin: 0 auto;
  background-color: #ffffff;
}
