.updates-text {
  font-family: "Karla";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 15px;
}
.updates__title {
  font-family: "Karla";
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 25px;
  color: #ffffff;
}
.updates {
  margin-top: 152px;
  padding: 80px;
  background-color: #1d1f2e;
}
.updates__wrapper {
  text-align: center;
}
.updates__inp {
  padding: 18px 40px;
  border: 1px #2f303e solid;
  background-color: #1d1f2e;
}
.updates__btn {
  padding: 15.7px 25px;
  font-family: "Karla";
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
